

{% extends "base.html" %} 
{% block content %}

{% if wrongpassword %}
<p>Benutzername oder Password ist falsch</p>
{% endif %}

<form action="/login/" method="POST">
    {% csrf_token %}
    <input  name="redirect" type="hidden" value="{{redirect}}">
    Username:
    <div><input class="mdl-textfield__input width300 maBot25" name="username" type="text"></div>
    Password:
    <div><input class="mdl-textfield__input width300 maBot25" name="password" type="password"></div>
    <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
    </button>
</form>

<div style="margin-top:50px;"> noch keinen Account? Registrieren Sie sich <a href="/register/">hier</a>.</div>
{% endblock content %}

{% block headline %}
Wilkommen
{% endblock headline %}